* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: #141414;
}

/* Navigation Bar */
nav {
    height: 70px;
    color: white;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    background-color: #141414;
}

.nav_main {
    background-color: black;
    height: 64px;
    border: 1px solid #1baba2;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

/* logo */
.logo img {
    height: 60px;
    width: 70px;
}

/* menu */
.nav_menu ul {
    display: flex;
    list-style: none;
}

.nav_menu li:not(:nth-child(5n)) {
    margin-right: 30px;
}

.nav_menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
.nav_menu a:hover{
    color: #10b5b5;
    border-bottom: 1px solid #10b5b5;
    transition: .3s;
}

/* contact */
.nav_contact {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px rgb(136, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_contact a {
    text-decoration: none;
    color: white;
}

.nav_contact p {
    background-color: #141414;
    padding: 4px 10px;
    border-radius: 20px;
    border: 2px solid #1baba2;
    box-shadow: 0px 0px 15px 0px rgb(136, 187, 187);
    font-size: 15px;
}
.nav_contact p:hover{
    color: #10b5b5;
    border: 2px solid #ffffff70;
    transition: .3s ease;
}










/* main ---- Projects */
main {
    cursor: default;
    padding: 0 50px;
    color: white;
}

/* upper text */
.projects_title {
    padding: 30px 0;
}

.projects_title h1 {
    font-size: 60px;
    font-weight: lighter;
    padding: 8px 0;
}

.projects_title hr {
    height: 1px;
    width: 200px;
    background-color: #1baba2;
    border: none;
}

.projects_title h3 {
    font-size: 20px;
}

.projects_title p {
    margin-top: 20px;
}






/* buttons */
.projects_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_btn h2 {
    margin-bottom: 25px;
    font-size: 28px;
}

.btn ul {
    list-style: none;
    display: flex;
}

.btn {
    padding: 25px 0;
    display: flex;
    align-items: center;
}

.mainBtn li:not(:nth-child(3n)) {
    margin-right: 10px;

}

.mainBtn a {
    text-decoration: none;
    color: white;
    border: 1px solid #1baba2;
    padding: 15px 10px;
    border-radius: 50px;
    transition: .2s;
}

.mainBtn .active {
    background-color: #1baba2;
}

.mainBtn a:hover {
    background-color: #1baba2;
}

/* subBtn */
.subBtn {
    padding: 20px 0px;
}

.subBtn li:not(:nth-child(5n)) {
    margin-right: 3px;
}

.subBtn a {
    text-decoration: none;
    background-color: white;
    color: #1baba2;
    padding: 10px 5px;
    transition: .2s;
}

.last_subBtn {
    border-radius: 0 6px 6px 0;
}

.subBtn a:hover {
    background-color: #1baba2;
    color: white;
}

.subBtn .active {
    background-color: #1baba2;
    color: white;
    border-radius: 6px 0 0 6px;
}








/* Card styling */

.card_main {
    cursor: default;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 40px 50px;
}

.card {
    width: 375px;
    padding: 25px;
    margin: 15px 0;
    color: white;
    border-radius: 20px;
}
.card:hover{
    margin: 0 0;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    transition: ease .3s;
}

.card_text h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: lighter;
}

/* card image */
.card_img {
    padding: 25px 0;
}

.card_img img {
    width: 100%;
}

/* Card link */
.card_link {
    text-align: center;
}

.card_link a {
    text-decoration: none;
    color: #1baba2;
}
.card_link a:hover{
    color: white;
    transition: .3s;
}

/* one */
.one {
    background: hsla(211, 82%, 35%, 1);

    background: linear-gradient(270deg, hsla(211, 82%, 35%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(211, 82%, 35%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(211, 82%, 35%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1058A5", endColorstr="#000000", GradientType=1);
}

/* two */
.two {
    background: hsla(180, 83%, 40%, 1);

    background: linear-gradient(270deg, hsla(180, 83%, 40%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(180, 83%, 40%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(180, 83%, 40%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#11BBBB", endColorstr="#000000", GradientType=1);
}

/* three */
.three {
    background: hsla(272, 65%, 37%, 1);

    background: linear-gradient(270deg, hsla(272, 65%, 37%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(272, 65%, 37%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(272, 65%, 37%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#62219B", endColorstr="#000000", GradientType=1);
}

/* four */
.four {
    background: hsla(0, 79%, 72%, 1);

    background: linear-gradient(270deg, hsla(0, 79%, 72%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(0, 79%, 72%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(0, 79%, 72%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F08080", endColorstr="#000000", GradientType=1);
}

/* five */
.five {
    background: hsla(52, 67%, 49%, 1);

    background: linear-gradient(270deg, hsla(52, 67%, 49%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(52, 67%, 49%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(52, 67%, 49%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#D1BB29", endColorstr="#000000", GradientType=1);
}

/* six */
.six {
    background: hsla(138, 39%, 52%, 1);

    background: linear-gradient(270deg, hsla(138, 39%, 52%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(138, 39%, 52%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(138, 39%, 52%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#56B572", endColorstr="#000000", GradientType=1);
}












/* footer */
footer {
    background-color: black;
    color: white;
    padding: 0 50px;
    cursor: default;

}

.footer_first {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.data {
    display: flex;
    align-items: flex-start;
}

.data i {
    font-size: 25px;
    margin-right: 10px;
    color: #1baba2;
}

.data p {
    margin-top: 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.404);
}

/* hr footer */
footer hr {
    height: 1px;
    width: 80vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.432);
    border: none;
}


/* second footer */
.footer_second {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 200px;
    padding: 10px;
}

.info ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
    margin-top: 25px;
}

.list_links li:not(:nth-child(3n)) {
    margin-bottom: 15px;
}

.list_links i {
    margin-right: 5px;
}

.info h3 {
    margin-bottom: 5px;
}

.info a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.404);
    font-size: 14px;
}

.info a:hover{
    color: white;
    transition: .3s;
}

.info img {
    height: 60px;
    width: 70px;
    margin-bottom: 20px;
}

.hr {
    width: 110px;
    margin: 0;
    border: none;
    background-color: #1baba2;
}

.list_linksTwo li:not(:nth-child(3n)) {
    margin-bottom: 30px;
}

.list_linksTwo a {
    font-size: 20px;
}


/* footer third */
.footer_third {
    background-color: #141414;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer_third p {
    font-size: 14px;
}

.footer_third a {
    text-decoration: none;
    color: #1baba2;
}

.footer_third a:hover{
    color: rgba(255, 255, 255, 0.404);
    transition: .3s;
}

.marginDiv {
    margin-right: 40px;
}

.nav_bars{
    display: none;
}

#check {
    display: none;
}

.bars {
    font-size: 25px;
    display: none;
}






/* RESPONSIVENESS */

@media only screen and (max-width:768px) {

    /* Navigation Bar */
    .nav_bars{
        display: block;
    }
    .bars{
        display: block;
    }
    nav {
        padding: 10px 30px;
    }

    .nav_main {
        display: flex;
        padding: 0 25px;
    }

    .nav_menu {
        background-color: rgba(15, 15, 15, 0.9);
        position: absolute;
        top: 80px;
        left: -100vw;
        height: 85vh;
        width: 50vw;
        transition: .8s;
    }

    .nav_menu ul {
        display: block;
        text-align: center;
    }

    .nav_menu li{
        margin: 30px 0;
    }
    .nav_menu li:not(:nth-child(5n)) {
        margin-right: 0px;
    }

    /* logo */
    .logo img {
        height: 60px;
        width: 70px;
    }

    /* menu */
    .nav_menu ul {
        /* display: none; */
        list-style: none;
    }

    /* contact */
    .nav_contact {
        display: none;
    }






    /* main */
    main {
        padding: 0 30px;
    }

    /* upper text */

    .projects_title {
        padding: 50px 0;
    }

    .projects_title h1 {
        font-size: 50px;
    }







    /* buttons */
    .projects_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects_btn h2 {
        margin-bottom: 0;
        margin: 20px 0;
    }

    .btn {
        padding: 15px 0;
    }

    .btn ul {
        height: 115px;
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        align-items: center;
    }

    .btn li {
        height: fit-content;
    }

    .mainBtn li:not(:nth-child(3n)) {
        margin-right: 10px;

    }

    .mainBtn a {
        padding: 12px 5px;
    }


    /* subBtn */
    .subBtn {
        padding: 0px 0px;
    }

    .subBtn li:not(:nth-child(5n)) {
        margin-right: 10px;
    }

    .subBtn a {
        padding: 10px 5px;
        border-radius: 5px;
    }

    .last_subBtn {
        border-radius: 5px;
    }

    .subBtn .active {
        background-color: #1baba2;
        color: white;
        border-radius: 5px;
    }








    /* Card styling */

    .card_main {
        padding: 40px 30px;
    }

    .card {
        padding: 20px;
    }

    /* card image */
    .card_img {
        padding: 10px 0;
    }






    /* footer */
    footer {
        padding: 0 50px;
    }

    /* footer first */
    .footer_first {
        display: block;
        padding: 5px 0;
    }

    .data {
        margin: 30px 0;
    }

    .data i {
        font-size: 20px;
    }


    /* second footer */
    .footer_second {
        display: block;
    }

    .info {
        width: 100%;
        margin: 30px 0;
        padding: 10px 0;
    }

}



@media only screen and (min-width:769px) and (max-width:950px){
    

    .nav_main{
        padding: 0 15px;
    }

    .logo img {
        height: 50px;
        width: 60px;
    }
    .nav_menu li:not(:nth-child(5n)) {
        margin-right: 25px;
    }
}